* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(47, 31, 77); */
    background-image: linear-gradient(to right, rgb(24, 3, 63), rgb(20, 30, 88));
    color: white;
    padding: 15px 0;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}


nav ul {
    display: flex;
    gap: 17px;
    align-items: center;

}

nav ul li {
    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto Mono", monospace;
}

.hero {
    background-color: rgb(207, 230, 238);
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;

}

.hero-left .one {
    font-size: 60px;
}

.hero-left .two {
    font-size: 40px;
}

.bold {
    font-weight: bold;
}

.hero-right img {
    border-radius: 40px;
}

.btn-container {
    padding: 9px 0;
}

.btn {
    background-image: linear-gradient(to right, rgb(50, 50, 122), rgb(68, 4, 68));
    color: white;
    padding: 7px 9px;
    border: 2px solid purple;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover{
    background-image: none;
    background-color: red;
    transition: background-color 1s ease;
}

.project {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(191, 191, 239), rgb(173, 233, 194));
    font-family: "Montserrat", sans-serif;
    border-top: 2px solid rgb(190, 133, 219);
    padding: 12px 0;
}

.project-image img {
    width: 50vw;
    height: 80vh;
    margin: 35px;
    border-radius: 24px;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 42px;
}

.project-info .text {
    font-weight: bold;
    font-size: 27px;
    padding-bottom: 10px;
}





.buttons {
    padding-top: 10px;
}

.row-reverse{
    flex-direction: row-reverse;
}

footer{
    background-color: rgb(19, 2, 44);
    padding: 40px;
    color: white; 
    text-align: center;
    font-family: "Montserrat", sans-serif;
}